#container {
  margin-top: 5vh;
  height: 100%;
}

#leftPanel {
  width: 30%;
  height: 100%;
  /* top: 5%; */
}

#viewDiv {
  /* top: 5%; */
  padding: 0;
  margin: 0;

  z-index: 1;
  position: absolute;
  right: 0;
  /* width: 70%; */
  height: 94%;
  border: 1px solid #333;
  transform: scale(1);
}
.map-view {
  /* top: 5%; */
  padding: 0;
  margin: 0;
  z-index: 1;
  position: absolute;
  right: 0;
  width: 70% !important;
  height: 94%;
  border: 1px solid #333;
  transform: scale(1);
}
.left-view {
  width: 30%;
}
.left-close {
  width: 100%;
}
.map-view-close {
  width: 100% !important;
}
.btn-style-close {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  z-index: 999;
}
.btn-style {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 30%;
  z-index: 999;
}

.example-container {
  position: absolute;
  /* top: 5%; */
  left: 0;
  width: 30%;
  height: 94vh;
}

.example-sidenav-content {
  height: 100%;
}
.example-sidenav-content button {
}
.example-sidenav-content :nth-child(0) {
  position: absolute;
  left: 0px;
}
.example-sidenav-content :nth-child(1) {
  position: absolute;
  right: 0px;
}
.example-sidenav {
  padding: 10px;
  background-color: #eee;
  width: 100%;
}

.card-style {
  width: 15rem;
  margin-bottom: 5px;
}

@media (max-width: 320px) {
  #leftPanel .example-container {
    width: 100%;
  }

  #viewDiv {
    display: none;
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  #leftPanel {
    width: 20%;
  }

  #viewDiv {
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  #leftPanel {
    width: 20%;
  }

  #viewDiv {
    width: 80%;
  }
}

@media screen and (max-width: 993px) {
  #leftPanel {
    width: 20%;
  }

  #viewDiv {
    width: 80%;
  }
}

@media screen and (max-width: 1280px) {
  #leftPanel {
    width: 30%;
  }

  #viewDiv {
    width: 70%;
  }
}

@media screen and (max-width: 1920px) {
  #leftPanel {
    width: 30%;
  }

  #viewDiv {
    width: 70%;
  }
}
@media screen and (min-width: 1921px) and (max-width: 2560px) {
  #leftPanel {
    width: 30%;
  }

  #viewDiv {
    width: 70%;
  }
  .col {
    width: 50%;
  }
}
