<div id="container">
  <div id="leftPanel"></div>
  <div id="viewDiv"></div>
</div>

<div id="heading-for-map" style="padding: 20px; background-color: transparent">
  <p>Zoom level: {{ view?.zoom }}</p>
   
  <p>Screen Resolution : {{ screenWidth }}/{{ screenHeight }}</p>

   
  <!-- <h1 *ngIf="view?.scale">
  Scale: {{ (view?.scale | number: '1.0-0').replaceAll(',', '') }}
</h1> -->

  <p *ngIf="view?.scale">
    Scale111:  <b>{{ math.trunc(view?.scale) }}</b>
  </p>

  <b>{{ OnScreenLoadScale }}</b>
</div>
